- name: recursively remove directory
  ansible.builtin.file:
    path: /app
    state: absent
- name: create directory
  ansible.builtin.file:
    path: /app
    state: directory
- name: downloading dependencies
  ansible.builtin.get_url:
    url: https://roboshop-builds.s3.amazonaws.com/catalogue.zip
    dest: /tmp
    user: root
    mode: '7777'
   
- name: extracting the dependencies
  ansible.builtin.unarchive:
    src: /tmp/catalogue.zip
    dest: /app
    remote_src: yes
