- name: disable existing nodejs
  ansible.builtin.shell: dnf module disable nodejs -y ; dnf module enable nodejs:18 -y ;
- name: install nodejs
  ansible.builtin.pacakge:
    name: nodejs
    state: present
- name: add user roboshop
  ansible.builtin.user:
    name: roboshop

